#page-header {
  position: fixed !important;
  box-shadow: -1.7px 4.7px 20px 0 rgba(21, 36, 57, 0.1);
  z-index: 99; }

.content-header {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  margin: 0 auto;
  height: 4.375rem; }
  .content-header .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    @media (max-width: 767px) {
      .content-header .heading .header-logo {
        height: 50px !important;
        margin-top: 10px; 
      } 
    }
    .content-header .heading .burger {
      visibility: hidden;
      display: none; }
    .content-header .heading .margin_img {
      display: none; }
    .content-header .heading .profile {
      display: none; }
    .content-header .heading a.nav-main-link {
      font-size: 11px; }
    .content-header .heading .nav-main-item {
      margin: 5px; }
    .content-header .heading ul {
      z-index: 10000; }
      .content-header .heading ul .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; }
        .content-header .heading ul .btn p {
          width: 50px; }
      .content-header .heading ul a {
        color: black; }
      .content-header .heading ul .nav-main-link .nav-main-link-icon {
        color: black; }

.nav-token-counter-wrapper {
  position: relative;
  display: inline-block; }
  .nav-token-counter-wrapper p {
    position: absolute;
    font-weight: 500;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  .nav-token-counter-wrapper .tokens {
    font-size: 8px; }

@media (max-width: 1299px) {
  .content-header ul {
    padding-left: 10px; }
  .content-header .heading a.nav-main-link {
    font-size: 10px; }
    .content-header .heading a.nav-main-link img {
      width: 10px !important; } }

@media (max-width: 1160px) {
  .content-header .heading ul .nav-main-item {
    margin-left: 0px;
    margin-right: 0px; } }

@media (max-width: 1090px) {
  .content-header .heading ul .nav-main-item .nav-main-link {
    padding-left: 0.25rem;
    padding-right: 0.25rem; } }

@media (max-width: 1005px) {
  .content-header .heading ul .nav-main-item .nav-main-link {
    font-size: 10px !important; }
    .content-header .heading ul .nav-main-item .nav-main-link img {
      width: 10px !important; } }

@media (min-width: 768px) {
  .content-header {
    align-items: center;
    padding-left: 0.875rem !important;
    padding-right: 0.875rem !important; }
    .content-header ul {
      display: flex;
      flex-direction: row;
      margin-bottom: 0px; }
      .content-header ul .logout {
        display: none !important; } }

@media (max-width: 767px) {
  .content-header {
    padding-right: 0px !important;
    align-items: flex-start !important; }
    .content-header .heading {
      width: 100%;
      padding-right: 5px;
      align-items: flex-start;
      justify-content: space-between; }
      .content-header .heading .burger {
        margin-top: 5px;
        border: none;
        background: transparent;
        visibility: visible;
        height: 50px; }
      .content-header .heading ul {
        margin-top: 35px; }
      .content-header .heading .show {
        display: block; }
      .content-header .heading .hide {
        display: none; }
      .content-header .heading .profile {
        display: block; }
      .content-header .heading ul {
        background-color: white;
        padding: 10px;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2); }
        .content-header .heading ul li {
          width: 150px; }
      .content-header .heading .nav-main-item {
        margin: 0px;
        margin-right: 0px; }
      .content-header .heading .margin_img {
        margin-top: 18px;
        margin-left: auto;
        margin-bottom: auto; }
    .content-header .second_menu {
      display: none; } }

.btn:not(:disabled):not(.disabled) {
  cursor: pointer; }

.token_text {
  color: #152439;
  margin-bottom: 0px !important; }

.token {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .token button {
    background: white;
    margin-left: auto;
    display: flex;
    align-items: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); }

.img-burger {
  -webkit-box-shadow: 1px 16px 10px 2px rgba(172, 172, 172, 0.5);
  box-shadow: 1px 6px 5px 2px rgba(172, 172, 172, 0.5);
  border-radius: 25px;
  width: 30px;
  height: 30px; }

.img-burger:active {
  border: 2px solid #eeeeee;
  box-shadow: none; }

.img-burger:focus {
  outline: none !important; }

.burger:focus {
  outline: none !important; }
